LavanderiaLeo/Connected Services/ServicioWeb/WSDirecciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insDireccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Colonia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insDireccionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:insDireccion" />
  </wsdl:message>
  <wsdl:message name="insDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:insDireccionResponse" />
  </wsdl:message>
  <wsdl:portType name="WSDireccionesSoap">
    <wsdl:operation name="insDireccion">
      <wsdl:input message="tns:insDireccionSoapIn" />
      <wsdl:output message="tns:insDireccionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDireccionesSoap" type="tns:WSDireccionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insDireccion">
      <soap:operation soapAction="http://tempuri.org/insDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDireccionesSoap12" type="tns:WSDireccionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insDireccion">
      <soap12:operation soapAction="http://tempuri.org/insDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDirecciones">
    <wsdl:port name="WSDireccionesSoap" binding="tns:WSDireccionesSoap">
      <soap:address location="http://localhost:51692/WSDirecciones.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDireccionesSoap12" binding="tns:WSDireccionesSoap12">
      <soap12:address location="http://localhost:51692/WSDirecciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>